body{
    height: 100vh;
        background-color: rgb(132, 182, 239);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:radial-gradient( rgb(150, 193, 242), rgb(0, 17, 255));

    
}
#container{
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    
    }
.gamebox{
        height: 500px;
        width: 500px;
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        /* background-color: rgb(132, 182, 239); */
       
       
    }
    .card{

    height: 100px;
    width: 100px;
    background-color: rgb(233, 220, 146);
    border-radius: 40%;
    border-width: 3px;
    border-style: solid;
    border-color: blueviolet;
    box-shadow: 2px 2px;
    margin: 10px;
    cursor: pointer;
    }  
.card img{
        height: 100px;
        width: 100px;
        border-radius: 40%;
        cursor: pointer;

}
    
.button{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        /* border: 1px solid black; */
        text-align: center;
        width: 150px;
        background-color: brown;
        padding: 5px;
        text-transform: uppercase;
        color: bisque;
        cursor: pointer;
    }
    
.title{
        font-size: 48px;
        font-weight: bolder;
        color: white;
        /* border: solid rgb(188, 106, 106); */
        margin: 3px;
        text-shadow: solid salmon 2px;
       
       

    
        
    
    } 
    